form {
    width: 40%;
    margin: auto;
    padding: 1em;
    background-color: gainsboro;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.btn {
    margin: 1em;
}
